.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 120px;
}

.wrap {
    margin: 0 auto;
    max-width: 1240px;
}

.navList {
    max-width: 320px;
    list-style: none;
}

.navItem {
    height: 64px;
}

.navItem_active {
    color: #F2F2F3;
}

.navItem_inActive {
    color: #8585AD;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}