.infoTitle {
}

.ingredientInfo {
    justify-content: center;
    align-items: center;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.ingredientInfo li {
    text-align: center;
}

.ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
}