.ingredientsList {
    overflow-y: auto;
    scrollbar-gutter: stable;
    max-height: 30%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.tabs {
    display: flex;
}

.sectionTitle {
    width: 100%;
}

.ingredient {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    text-align: center;
}