.ingredientsSection{
    width: 50%;
}
.ingredientsList {
    overflow-y: auto;
    scrollbar-gutter: stable;
    max-height: 30%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.ingredientsList li{

}
.tabs {
    display: flex;
}
.sectionTitle {
    width: 100%;
}